---
extends: default

rules:
  line-length:
    max: 190
    level: warning

ignore: |
  .github/workflows/stale.yml
  changelogs/config.yaml
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
